In [122]:
import pandas as pd
import json
import itertools

### Leitura do arquivo

In [123]:
arquivo = open("teste-ab-export.json")
linhas = arquivo.readlines()
texto = "".join(linhas)
dados_fire = json.loads(texto)

### Análise do atributo logs

In [124]:
dados_fire["logs"]

{'-KVAMnCdHvHCv7KjPMNB': {'tempo': 1477659538279,
  'tipo': 'inicio',
  'user_id': 947912844,
  'versao': 'A'},
 '-KVAMvBHr_MJAn_oUJhv': {'tempo': 1477659571047,
  'tipo': 'final',
  'user_id': 947912844,
  'versao': 'A'},
 '-KVANG40oYBdzvFqO2Lh': {'tempo': 1477659660710,
  'tipo': 'inicio',
  'user_id': 947912844,
  'versao': 'B'},
 '-KVANK63iT-_vtI2NO0f': {'tempo': 1477659677226,
  'tipo': 'final',
  'user_id': 947912844,
  'versao': 'B'}}

### Veja que log está pesadamente aninhado

In [125]:
for k,v in dados_fire["logs"].items():
    print(k,v)
    for chave, valor in v.items():
        print(chave, valor)

-KVANK63iT-_vtI2NO0f {'versao': 'B', 'tipo': 'final', 'tempo': 1477659677226, 'user_id': 947912844}
versao B
tipo final
tempo 1477659677226
user_id 947912844
-KVAMvBHr_MJAn_oUJhv {'versao': 'A', 'tipo': 'final', 'tempo': 1477659571047, 'user_id': 947912844}
versao A
tipo final
tempo 1477659571047
user_id 947912844
-KVAMnCdHvHCv7KjPMNB {'versao': 'A', 'tipo': 'inicio', 'tempo': 1477659538279, 'user_id': 947912844}
versao A
tipo inicio
tempo 1477659538279
user_id 947912844
-KVANG40oYBdzvFqO2Lh {'versao': 'B', 'tipo': 'inicio', 'tempo': 1477659660710, 'user_id': 947912844}
versao B
tipo inicio
tempo 1477659660710
user_id 947912844

### Convertendo para um dataframe

In [126]:
lista_dicionarios = []

for k,v in dados_fire["logs"].items():
    lista_dicionarios.append(v)

In [127]:
dataframe = pd.DataFrame.from_records(lista_dicionarios)

In [128]:
dataframe

           tempo    tipo    user_id versao
0  1477659677226   final  947912844      B
1  1477659571047   final  947912844      A
2  1477659538279  inicio  947912844      A
3  1477659660710  inicio  947912844      B

### Convertendo para um DataFrame de delta_t

In [129]:
agrupado = dataframe.groupby(by=["user_id", "versao"])

In [130]:
users = set(dataframe.user_id)

In [131]:
users = list(users)

In [132]:
resultados = []

for u in users:
    for tipo in ["A", "B"]:
        grupo1 =  agrupado.get_group((u, tipo))
        delta_t = grupo1[grupo1.tipo=="final"].iloc[-1].tempo - grupo1[grupo1.tipo=="inicio"].iloc[0].tempo
        resultados.append({"user_id":u, "delta_t":delta_t, "tipo":tipo})

In [133]:
dataframe_resumo = pd.DataFrame.from_records(resultados)

In [134]:
dataframe_resumo

   delta_t tipo    user_id
0    32768    A  947912844
1    16516    B  947912844